<div class="container text-center my-5" id="about-us">
  <h1 class="display-4 my-4">About Us</h1>
  <p class="font-weight-light display-6 fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat est quae eum assumenda
    consequuntur porro voluptate sed, amet laborum. Consectetur deleniti earum nostrum laborum fuga praesentium
    consequatur at quas esse?</p>
  <p class="font-weight-light display-6 fs-6">Maiores magnam asperiores sit nisi tempora ab, impedit enim rem quam, possimus hic dolor
    perspiciatis atque maxime doloribus dolorum aspernatur laudantium quis? Similique repudiandae eum inventore
    cupiditate expedita qui obcaecati.</p>
  <p class="font-weight-light display-6 fs-6">Magnam vero hic laudantium temporibus recusandae a. Consequuntur, ad, dolorem culpa quo
    perferendis, porro cum maiores impedit provident deleniti laboriosam ipsum maxime repellendus commodi laborum
    architecto accusantium minima sint id.</p>
</div>
