<div id="home">
  <div class="container vh-100 d-block mx-auto">
    <div class="d-flex justify-content-center align-items-center">
      <div class="me-5">
        <h1 class="display-3 mb-5">Welcome to our <br><span class="text-primary">ONLINE STORE</span></h1>
        <p class="display-6 fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni eos quasi
          distinctio sed, dolore et reprehenderit hic ipsam id corrupti. Maiores beatae at quis. Veniam rerum cumque
          minus
          exercitationem.</p>
        <p class="display-6 fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum ad porro ipsum, in
          facilis nam molestiae hic dolorum neque explicabo et libero ratione sint incidunt temporibus assumenda
          voluptates! Eveniet, quas.</p>
      </div>
      <img src="../../assets/imgs/pngfind.com-eshop-png-3376731.png" alt="Online Shopping">
    </div>
  </div>
</div>
