<div id="laptop-list">
  <h1 class="display-4 text-center my-5">Laptop list</h1>

  <div class="row row-cols-3 justify-content-start align-items-center g-4">
    <div *ngFor="let laptop of laptopArray" class="col d-flex justify-content-center align-items-center">
      <div class="card product">
        <div class="img-frame overflow-hidden d-flex justify-content-center align-items-center">
          <img [src]="laptop.imgSrc" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{laptop.type}}</h5>
          <p class="card-text">{{laptop.description}}</p>
          <a href="#" class="button primary-button">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</div>
